#main-container {
    text-align: center;
    height: 700px;
}
#main-container h1 {
    font-size: 70px;
    color: white;
    margin: auto 0px auto 0px;
    padding: 300px 0px 0px 0px;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    letter-spacing: 2.2;
}
#main-section {
    background: rgba(0, 0, 0, 0.49) url(../images/lap.jpg);
    background-blend-mode: saturation;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* height: 300px; */
}
